## scrape oil prices

In [ ]:
!pip install dataflows
from dataflows import (
    Flow,
    PackageWrapper,
    validate,
)
from dataflows import add_metadata, dump_to_path, load, set_type, printer
import datetime
import pandas as pd
FIRST_DATE = datetime.date(2022, 2, 20)

In [ ]:
def rename_resources(package: PackageWrapper):
    package.pkg.descriptor["resources"][0]["name"] = "brent-daily"
    package.pkg.descriptor["resources"][0]["path"] = "brent-daily.csv"

    yield package.pkg
    res_iter = iter(package)
    for res in res_iter:
        yield res.it
    yield from package


def filter_out_empty_rows(rows):
    for row in rows:
        if row["Date"] and row["Date"] >= FIRST_DATE:
            yield row


OIL_PRICES = Flow(
    load(
        load_source="https://www.eia.gov/dnav/pet/hist_xls/RBRTEd.xls",
        format="xls",
        sheet=2,
        skip_rows=[1, 2, 3],
        headers=["Date", "Price"],
    ),
    rename_resources,
    set_type("Date", resources=None, type="date", format="any"),
    validate(),
    printer(),
    filter_out_empty_rows,
    dump_to_path(),
)


if __name__ == "__main__":
    OIL_PRICES.process()

In [8]:
oil = pd.read_csv('brent-daily.csv')

In [9]:
oil

          Date   Price
0   2022-02-21   98.95
1   2022-02-22   98.73
2   2022-02-23   99.29
3   2022-02-24  101.29
4   2022-02-25   98.56
5   2022-02-28  103.08
6   2022-03-01  110.93
7   2022-03-02  118.94
8   2022-03-03  115.36
9   2022-03-04  123.86
10  2022-03-07  129.02
11  2022-03-08  133.18
12  2022-03-09  116.58
13  2022-03-10  114.54
14  2022-03-11  118.11
15  2022-03-14  110.39
16  2022-03-15  105.14
17  2022-03-16  104.61
18  2022-03-17  113.50
19  2022-03-18  114.32
20  2022-03-21  122.29
21  2022-03-22  121.53
22  2022-03-23  127.52
23  2022-03-24  123.98
24  2022-03-25  122.67
25  2022-03-28  114.50
26  2022-03-29  112.79
27  2022-03-30  115.59
28  2022-03-31  107.29
29  2022-04-01  106.13
30  2022-04-04  108.15